.pmt-tactic-summary {
    .nav a {
        font-size: 12px;
    }

    // SUMS TABLE
    table.pmt-sums {
        font-size: 12px;

        th.pmt-gk {
            width: 1%;
        }
        th:nth-child(n + 2) {
            text-align: center;
        }
        td:nth-child(n + 2) {
            span:nth-child(1) {
                text-align: right;
                width: 35%;
                display: inline-block;
            }
            span:nth-child(2) {
                text-align: center;
                width: 55%;
                display: inline-block;
            }
        }

        .col-xs-6 {
            padding-right: 2px;
            padding-left: 2px;
        }
    }

    .pmt-positive-delta,
    .pmt-negative-delta {
        font-size: xx-small;
    }
    .pmt-positive-delta {
        color: #379901;
    }
    .pmt-negative-delta {
        color: red;
    }

    .pmt-ats {
        font-size: 12px;

        .pmt-ats-options {
            .panel-body {
                display: flex;

                .pmt-ats-option,
                .pmt-ats-row-view-option {
                    padding: 0 8px 0 8px;
                }
            }
        }

        .pmt-ats-row {
            display: flex;
            border-bottom: 1px solid #ddd;

            .pmt-at-details {
                padding: 0;
                border-right: 1px solid #eee;
            }
        }

        .pmt-ats-row.opponent {
            background-color: #def47a;
            .pmt-at-name .glyphicon {
                color: #d5d5d5 !important;
            }
        }

        .pmt-ats-row.in-two-rows {
            .pmt-at-name {
                display: flex;
                align-items: center;
                border-right: 1px solid #eee;
                justify-content: space-between;
                .glyphicon {
                    color: #1f532f;
                }
            }
            .pmt-at-details {
                .pmt-at-condition {
                    border-bottom: 1px solid #eee;
                }
                .pmt-at-value {
                    background-color: #f9f9f9;
                    display: flex;
                    justify-content: center;

                    span:nth-child(1) {
                        position: absolute;
                        transform: translateX(-28px);
                    }
                }
                .pmt-short-div {
                    padding: 4px 0 4px 0;
                }
            }
        }

        .pmt-ats-row.in-one-row {
            div {
                display: flex;
                align-items: center;
                min-height: 32px;
                border-right: 1px solid #eee;
            }
            .pmt-at-name {
                display: flex;
                align-items: center;
                border-right: 1px solid #eee;
                justify-content: space-between;
                .glyphicon {
                    color: #1f532f;
                }
            }
            .pmt-at-condition {
                padding: 4px 0 4px 0;
                justify-content: center;
            }
            .pmt-at-value {
                padding: 4px 0 4px 0;
                justify-content: right;
                background-color: #f9f9f9;
                span:nth-child(1) {
                    text-align: right;
                }
                span:nth-child(2) {
                    width: 40px;
                    text-align: center;
                }
            }
        }
        .pmt-ats-row:hover {
            div {
                background-color: #d6ec7a !important;
            }
        }
    }
}
