// Change woff2 to woff. woff2 not avaiable on pmanager,org
@font-face {
    font-family: 'Glyphicons Custom';
    src: url('~bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff');
    font-weight: normal;
}

.glyphicon {
    font-family: 'Glyphicons Custom';
}

// LAYAOUT
.pmt-font-weight-bold {
    font-weight: bold;
}

.pmt-flex {
    display: flex;
}

.pmt-justify-content-between {
    justify-content: space-between;
}

.pmt-justify-content-end {
    justify-content: flex-end;
}

.pmt-nopadding {
    padding: 0px;
}

/* POSITION COLORS */

.position-G {
    color: #5a3dfa;
}

.position-D {
    color: green;
}

.position-M {
    color: #fcc100;
}

.position-F {
    color: #f800ae;
}

// TRANSFER LIST - SKILLS

table.pmt-tl-skills {
    .table_header {
        td {
            font-size: 11px;
            .cabecalhos {
                font-size: 11px;
            }
            padding-left: 3px !important;
        }
    }
    .team_players {
        font-size: 11px;
    }
    td.pmt-gs {
        text-align: center;
        width: 2%;
    }
    // OFFER BUTTON COLUMN
    td:nth-child(21) {
        width: 3%;
    }
}

// TEAM PLAYERS LIST - SKILLS
table.pmt-tpl-skills {
    td.pmt-gs {
        text-align: center;
        width: 2%;
    }
}

#pmt-options-root {
    padding-right: 10px;
}
